/* ----------------------------------------header------------------------------------ */
.sec0{
 /* padding: px; */
 display: grid;grid-template-columns: repeat(3,1fr);
 margin-left: 80px;
 margin-right: 90px;
 margin-top: 40px;
 /* background-color: white; */
}
header{
    background-color: white;
}
.ul1{
    display: grid;grid-template-columns: repeat(6,1fr);
    list-style: none;
    margin: 10px;
}
.a1{
    text-decoration: none;
    padding: 15px;
    /* color: black; */
}
.p1{
    color: blue;
    display: inline;
    padding: 5px;
    font-size: xx-large;
}
.str{
    color: orange;
}
#sec1 i{
    color: orange;
    margin-left: 30px;
    
}

.sec2 i{
    padding: 7px;
    background-color: rgba(202, 199, 199, 0.78);
    margin: 2px;
    border-radius: 5px;
}
.sec2{
    margin-left: 120px;
}
/* ---------------------------End-header------------------------------------------------ */
body{
    overflow-x: hidden;
    /* margin: 10px; */
    height: 1000px;
    margin-left: 50px;
    margin-right: 50px;
    /* background-color: rgba(194, 190, 190, 0.527); */
}
#gray{
    background-color: rgba(151, 148, 148, 0.643);
    font-family: Arial, Helvetica, sans-serif;

}
.img1{
    width: 100%;
}
.sec3{
    margin-top: 20px;
    /* margin-left: 30px; */
}
.str1{
    color: orangered;
}
.a2{
    text-decoration: none;
    padding: 8px;
    width: 109px;
    color: black;
    margin-left: 553px;
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#h1{
    margin-top: -270px;
    margin-left: 350px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    margin-top: -10px;
    margin-left: 360px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.p3{
    margin-left: 430px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------banner-end------------------------ */
/* ------------------------ */
.sec5{
    display: grid;grid-template-columns: repeat(3,1fr);  
    /* background-color: blue; */
    padding: 130px;
    padding-top: 0;
    padding-bottom: 0; 
}
#sec5{
    background-color: white; 
    margin: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.div1{
    /* background-color: aqua; */
    border: 1px solid grey;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
}
/* .div1 img{
    width: 200px;
    height: 200px;
} */
.sec4{
    margin-top: 180px;
    /* position: relative; */
    margin-left: 470px;
}
.str2{
    color: white;
    clip-path: polygon(100% 8%, 93% 54%, 100% 92%, 0 91%, 10% 51%, 0 8%);
            background-color: orange;
            padding: 15px;
            /* padding-left: 5px; */
    font-size: xx-large;
}
.h21{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;   
}
.h22{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: -1px;
}
.p4{
    font-family: Arial, Helvetica, sans-serif;
}
.p5{
    font-family: Arial, Helvetica, sans-serif;
}
.a3{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    color: black;
    margin-left: -10px;
    margin-top: 5px;
    border: 1px solid black;
    padding: 10px;
    padding-right: 45px;
    padding-left: 40px;
    width: 100%;
    border-radius: 4px;
}
.h23{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 48px;
    margin-bottom: 15px;
}

.h24{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 26px;
}
/* ------------------------------------------ */
.sec8{
    margin-left: 530px;
}
.sec9{
    font-size: xx-large;
}
.sec7{
    display: grid;grid-template-columns: repeat(3,1fr);
    /* background-color: greenyellow; */
    padding: 130px;
    padding-top: 0px;
    padding-bottom: 0;
    
}
.div2 img{
    width: 200px;
    height: 200px;
    /* margin-top: -15px; */
    /* border: 1px solid black; */
}
.sec6{
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 5px;
    background-color: white;
    
}
.pro6{
    color: orangered;
    margin-top: -15px;
}
.a4{
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    position: absolute;
    text-align: center;
    margin-left: -70px;
    margin-bottom: -5px;
    width: 120px;
    border-radius: 5px;
}
.h31{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
}
.pro1{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -18px;
}
.div2{
margin: 10px;
border: 1px solid grey;
/* background-color: aqua; */
text-align: center;
padding-bottom: 49px
/* margin-top: -40px; */ 
}
/* ----------------------------------------End-Our-Features-------------------------------------- */
/* --------------------------------------start--------------------------------------------------- */
.pch3{
    font-size: xx-large;
    text-align: center;
}
.prodiv{
    
    text-align: center;
    padding-bottom: 10px;
    margin: 6px;
    margin-top: 5px;
    
    padding-left: 10px;
    padding-right: 10px;
  
    width: 100%;
    background-color: white;
}
.proc31 {
    padding: 10px;
}
 #proc2{
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: -60px;
    margin-right: -60px;
}
.proch4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: -5px;
}
.procp{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -15px;
}
.procimg{
    width: 200px;
    height: 200px;
}
.proc31{
    border: 1px solid grey;
    /* padding-bottom: 150px;   */
    margin-top: 10px;
    height: 330px;
    /* margin-bottom: 10px; */
    /* display: inline-block; */
    /* margin-bottom: -27px;  */
    padding: 10px;
}
.a4{
    margin-top: -10px;
}
/* -----------------------------------end------------------------------------ */
.crh1{
    text-align: center;
    font-size: xx-large;
}
.crdiv img{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.crdiv{
    border: 1px solid grey;
    text-align: center;
    padding: 15px;
    margin: 10px;
}
.cr2{
    /* border: 1px solid red; */
    margin: 10px;
    background-color: white;
}
#cr{
    display: grid;grid-template-columns: repeat(3,1fr);
    padding-left: 130px;
    padding-right: 130px;
}
.crp1{
    color: grey;
    font-size: small;
}
.crph4{
    font-size: 21px;
}
/* ------------------------------------end------------------------------- */
.obh1{
    text-align: center;
    font-size: xx-large;
}
#ob{
    display: grid;grid-template-columns: repeat(3,1fr);
    padding-left: 130px;
    padding-right: 130px;
}
img[alt="blog-1"],img[alt="blog-2"],img[alt="blog-3"] {
    width: 323px;
    height: 202px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}
.ob1{
    background-color: white;
    margin: 10px;
    padding-bottom: 30px;
    /* background-color: white; */
    padding-right: -140px;
}
.obdiv1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
.oba1{
    border: 1px solid grey;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
.obdiv1 i{
    color: orangered;
}
.obp2{
    margin-top: -38px;
    margin-left: 198px;
}
.obp1{
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.obdiv2{
    margin-left: 10px;
}
.obdiv2 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;color: rgb(62, 61, 61);

}
.obdiv2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: grey;
}
/* -----------------------------------------end-our blogs-----------------------------  */
/* ------------------------------------------footer----------------------------------- */
#foot{
    display: grid;grid-template-columns: repeat(4,1fr);
    padding-left: 140px;
    padding-right: 140px;
}
.fh{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
 .ful li{
    list-style: none;
    padding: 10px;
}
.pi i{
    padding: 10px;
    background-color: rgb(195, 190, 190);
    margin: 5px;
    border-radius: 5px;
}
.fdiv i{
    color: orangered;
}
.fh i{
    color: orangered;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: large;
}
.fdiv{
    text-align: left;
    /* margin: 30px; */
}
footer{
    background-color: white;
}
.fdiv a{
    border: 2px solid black;
    padding: 13px;
    text-decoration: none;
    color: black;
    padding-left: 43px;
    padding-right: 43px;
    border-radius: 5px;
}
.fdiv input{
    padding: 15px;
    border: 5px;
    background-color: rgba(145, 143, 143, 0.678);
    padding-right: 60px;
}
.fdiv h4{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.bvg{
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.color{
    padding: 5px;
    color: blue;
    background: linear-gradient(orange,white,green);
}
.fdiv p{
    color: grey;
}
p{
    color: grey;
}